#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 2rem;
}

.table-wrapper {
  overflow-x: auto; /* Rend le tableau scrollable sur mobile */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: #2a2a2a; /* Fond sombre adapté au thème par défaut */
  color: #fff;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #444;
}

th {
  background-color: #1a1a1a;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}

tr:hover {
  background-color: #333;
}

.summary {
  font-style: italic;
  color: #ccc;
  max-width: 400px;
}


@media (max-width: 600px) {
  #root {
    padding: 1rem; /* Réduit la marge de 32px à 16px sur mobile */
  }

  h1 {
    font-size: 1.5rem; /* Réduit un peu la taille du titre */
  }
  
  th, td {
    padding: 8px 5px; /* Réduit l'espace dans les cellules du tableau */
    font-size: 0.9rem; /* Texte un peu plus petit pour en afficher plus */
  }
}