name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3

      - name: Install and Build 
        working-directory: ./web-interface
        run: |
          npm install
          npm run build

      - name: Deploy 
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: web-interface/dist
          branch: gh-pages